<!DOCTYPE html>
<html lang="{{ config.default_language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock %}">
    <link rel="stylesheet" href="{{ get_url(path="main.css") }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
  <header>
            <nav>
                <ul class="nav-links">
                    <li><a href="{{ get_url(path="") }}">all_posts</a></li>
                    <li><a href="{{ get_url(path="tags") }}">tags</a></li>
                </ul>
            </nav>
  </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
